<!DOCTYPE html>
<html>
<head>
    <title>Shortest Path</title>
</head>
<body>
    <h1>Find Shortest Path</h1>
    <form action="/shortest_path" method="POST">
        <label for="source">Source:</label>
        <select name="source" id="source">
            {% for node_id in node_ids %}
                <option value="{{ node_id }}">{{ node_id }}</option>
            {% endfor %}
        </select>
        
        <label for="target">Target:</label>
        <select name="target" id="target">
            {% for node_id in node_ids %}
                <option value="{{ node_id }}">{{ node_id }}</option>
            {% endfor %}
        </select>
        <br>
        <input type="submit" value="Find Shortest Path">
    </form>
</body>
</html>